{% extends 'base.html' %}
{% load static %}

{% block title %}Podcasts{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
{% for post in posts %}
    <section class="section">
        <h2 class="title">{{ post.title }}</h2>
        <h4 class="subtitle">{{ post.description }}</h4>
        <h5 class="date">{{ post.publish_date }}</h5>
        <h5 class="author">by Author</h5>
        <p class="text">{{ post.text|truncatechars:200 }}</p>
        <a class="link" href="{% url 'blog_app:post_detail' post.id %}">Seguir leyendo...</a>
    </section>
{% endfor %}
<div class="pagination">
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Anteriores</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <span class="current">{{ num }}</span>
            {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Siguientes &raquo;</a>
        {% endif %}
    {% endif %}
</div>
{% endblock %}